{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native", "flowtype"],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "global-require": "off",
    "import/extensions": ["error", "never", { "packages": "always" }],
    "import/no-named-as-default": [0],
    "import/no-unresolved": [
      "error",
      { ignore: ["^react$", "^react-native$"] }
    ],
    "react-native/no-color-literals": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react/jsx-filename-extension": [0]
  }
}
